body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

hr {
    width: 100px;
}

#errors {
    color: #c93406;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.tile {
    width: 48px;
    height: 48px;
    border: 1px solid grey;

    font-size: medium;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

}

#digits {
    width: 450px;
    height: 50px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: medium;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.select-number {
    background-color: gray;

}
.select-number:hover, .restart.hover {
    transform: translateY(-2px);
    transition: .2s linear;
}

.start-tile {
    background-color: lightgray;
}
.h-line {
    border-bottom:2px solid #000 ;
}

.v-line {
    border-right:2px solid #000 ;
}
.restart{
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    border: 2px solid black;
    border-radius: .5rem;
    padding: 1rem;
    width: 5rem;
}