@forward "reset";
@forward "font";
@forward "custom-props";
@forward "certificates";
@forward "html";
@forward "resume";
@forward "javascript";
@forward "bootstrap";
@forward "react";
@forward "tailwind";
@forward "rectangle";
@forward "tech";
body {
    background-color: black;

    .page-wrapper {
        text-align: center;
        font-size: 3rem;
    }
}
