#react {
  background-color: #00d8ff;
  .recentReact {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "header header header";
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    line-height: 2rem;
    text-align: justify;
    h1 {
        grid-area: header;
        text-align: center;
      }
    img {
      width: 40rem;
      border-radius: .5rem;
    }
  }
}
