@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.rectangle {
  .navigation {
    display: flex;
    justify-content: space-between;

    .title {
      margin: 1rem 3rem;
      padding: 0;
    }
    ul {
      display: flex;
      flex-wrap: nowrap;
      margin: 1rem 3rem;

      li {
        list-style-type: none;
        display: flex;
        margin: 0 0 0 2rem;
      }
    }
  }
  .header {
    min-height: 75dvh;
    .center-image {
      margin: 2rem auto 2rem auto;
      width: 7rem;
      height: 9.8rem;
      border-radius: 3px;
      position: relative;

      img {
        border-radius: 3px;
      }
    }
    .center-image::before,
    .center-image::after {
      content: "";
      position: absolute;
      transform: translate(.3rem, .3rem);
      inset: -0.01rem;
      background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-6),
        var(--clr-8),
        var(--clr-7),
        var(--clr-8),
        var(--clr-6)
      );
      z-index: -1;
      border-radius: inherit;
      animation: rotation 10s linear infinite;
    }
    .center-image::after {
      filter: blur(.2rem);
    }
  }
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
