@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
:root {
    --clr-1: #052b2f;
    --clr-2: #073438;
    --clr-3: #0e4b50;
    --clr-4: #2d8f85;
    --clr-5: #637c54;
  }





.rectangle {
  .navigation {
    display: flex;
    justify-content: space-between;

    .title {
      margin: 1rem 3rem;
      padding: 0;
    }
    ul {
      display: flex;
      flex-wrap: nowrap;
      margin: 1rem 3rem;

            li{
                list-style-type: none;
                display: flex;
                margin: 0 0 0 2rem;

            }
        }
    }
    .header{
        min-height: 75dvh;
    }
  }