
:root {
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #0e4b50;
  --clr-4: #2d8f85;
  --clr-5: #637c54;
  --clr-6: #0091ff;
  --clr-7: #ff00e6;
  --clr-8: #5900ff;
  --bgclr: #2c3e50;
}