.recentJS{
    padding: 2rem;
    color: black;
    height: auto;
    text-align: center;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center; 
    align-items: center;
    h2{
      grid-column: span 3;
    }

  }

  .project{
    width: 25vw;
    border: .4rem solid rgb(9, 41, 248);
    box-shadow: 0 0 2rem 0 black;
    border-radius: 1rem;
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    img{
        border-bottom: 2px solid black;
    }


  }