@media (max-width: 768px) {
  .rectangle {
    .header {
      span {
        width: 90%;
        margin: 0;
        padding: 1rem;
        right: auto;
        left: auto;
        .zero {
          font-size: 3rem;
          margin-bottom: 2rem;
        }
      }
    }

    nav {
      padding: 0 1rem;
      .menu {
        position: absolute;
        flex-direction: column;
        top: 3rem;
        right: 0;
        padding: 1rem;
        background-color: #000;
        transform: translateX(100%);
        transition: .3s linear;
        &.active {
          transform: translateX(0%);
        }
        .dropdown { 

          ul {
            display: block;
            background-color: #000;
            transition-delay: .3s;
            transition: .6s linear;
            transform: translateX(100%);
            &.active {
              transform: translateX(-100%);
            }
          }
        }
        
        a {
          padding: 0.3rem;
        }
      }
      .burger {
        .line {
          width: 2rem;
          height: 0.2rem;
          background: #fff;
          margin: 0.3em;
          border-radius: 0.3em;
        }
        display: block;
        margin: 0.5rem;
        padding: 0;
        border: 1px solid #fff;
        background: none;
        border-radius: 0.2em;
        cursor: pointer;
      }
    }
  }
  #react {
    .recentReact {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "header header";
      align-items: start;
    }
  }
  #javascript{
  .recentJS{
    grid-template-columns: repeat(2, 1fr);
    h2{
      grid-column: span 2;
    }
  }
  .project{
    width: 40vw
  }
}

.recentTW {
  grid-template-columns: repeat(2, 1fr);
}
}
