.rectangle{
    font-family: lato, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;

    .navigation{
        display: flex;
        width: 100dvw;
        justify-content: space-between;

        .title{
            margin: 1rem 3rem;
        }
        ul{
            display: flex;
            flex-wrap: nowrap;
            margin: 1rem 3rem;

            li{
                list-style-type: none;
                display: flex;
                margin: 0 0 0 2rem;

            }
        }
    }
}