body {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  li::marker{
    display: none;
  }

  /* Remove default margin and padding and reset fonts */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

.rectangle-wrapper {
  position: relative;
  display: block;
  height: 100dvh; 
  width: 100dvw;
  background-color: rgb(0, 89, 255);
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);

    .center_img1 {
      position: relative;
      height: 140px;
      width: 100px;
    }


    ul {
      position: relative;
      // background-color: yellow;
      padding: 1rem;
      display: flex;

      // :nth-child(1){
      //   top: 0%;
      //   left: 50%;
      // }
      // :nth-child(2){
      //   top: 0;
      //   left: 50%;
      // }
      // :nth-child(3){
      //   top: 0;
      //   left: 50%;
      // }
      // :nth-child(4){
      //   top: 0;
      //   left: 50%;
      // }
      // :nth-child(5){
      //   top: 0;
      //   left: 50%;
      // }
      // :nth-child(6){
      //   top: 0;
      //   left: 50%;
      // }
      // :nth-child(7){
      //   top: 0;
      //   left: 50%;
      // }
      // :nth-child(8){
      //   top: 0;
      //   left: 50%;
      // }
      // :nth-child(9){
      //   top: 0;
      //   left: 50%;
      // }
      li {
        position: relative;
        border-radius: 1rem;
        background-color: black;
        height: 5rem;
        width: 5rem;


        a {
          position: relative;
          background-color: red;
          position: relative;
          height: 5rem;
          width: 5rem;

          p {
            position: relative;
            border-radius: 1rem;
            background-color: gray;
            height: 5rem;
            width: 5rem;
            transform: translate(0, -100%);
          }

          div {
            position: relative;
            border-radius: 1rem;

            background-color: pink;
            height: 5rem;
            width: 5rem;

            img {
              position: relative;
              background-color: violet;
              height: 5rem;
              width: 5rem;
              z-index: 1;
              border-radius: 1rem;
            }
          }
        }
      }
    }
  }
