* {
    font-family: 'Ubuntu Mono', monospace;

}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    background-color: rgb(54, 68, 122);
    justify-content: center;
    align-items: flex-end;
}
h1 {
    position: fixed;
    top: 2rem;
    color: #f0f8ff;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .3rem #000;
   
}
.notifications {
    position: fixed;
    top: 7rem;
    right: 5rem;
}

.buttons {
    display: flex;
    height: 5rem;
    margin-bottom: 5rem;
}
.button {
    border: 2px solid #000;
    border-radius: .5rem;
    width: 5rem;
    height: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin: .7rem;
    box-shadow: .2rem .2rem .5rem #000;
    transition: .2s;
    background-color: aliceblue;
    font-weight: 700;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: .2rem .2rem .5rem .2rem #000;
    cursor: pointer;
}

.toast {
    width: 250px;
    background-image: 
            linear-gradient(
                to right, #7bc08a55, #e5eafc 45%
            ); 
    animation: show 0.3s ease 1 forwards;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow:.2rem .2rem .5rem .2rem #000;
    margin: 1rem;
    position: relative;
}
.toast .title {
    font-size: x-large;
    font-weight: 700;
}
.toast span {
    font-size:small;
}
.toast.error {
    background-image: 
    linear-gradient(
        to right, #ff2f00, #e5eafc 45%
    ); 
}
.toast.info {
    background-image: 
    linear-gradient(
        to right, #0080ff, #e5eafc 45%
    ); 
}
.toast.warning {
    background-image: 
    linear-gradient(
        to right, #ff9d00, #e5eafc 45%
    ); 
}