body {
    background-color: #f0f0f0;
    margin: 0;
    color: #333;
    font-family: 'Ubuntu Mono', monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

h1 {
    position: fixed;
    top: 2rem;
    color: #f0f8ff;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .3rem #000;
}

.notifications {
    position: fixed;
    top: 7rem;
    right: 5rem;
}

.buttons {
    display: flex;
    height: 5rem;
    margin-bottom: 5rem;
}

.button {
    border: 2px solid #000;
    border-radius: .5rem;
    width: 5rem;
    height: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin: .7rem;
    box-shadow: .2rem .2rem .5rem #000;
    transition: .2s;
    background-color: aliceblue;
    font-weight: 700;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: .2rem .2rem .5rem .2rem #000;
    cursor: pointer;
}

.toast {
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 1rem;
    position: relative;
    color: #333;
}

.toast .title {
    font-size: x-large;
    font-weight: 700;
}

.toast span {
    font-size: small;
}

.toast.error {
    background-color: #ff2f00;
    color: #fff;
}

.toast.info {
    background-color: #0080ff;
    color: #fff;
}

.toast.warning {
    background-color: #ff9d00;
    color: #fff;
}

