:root {
  --bg-dark: #000;
  --gradient-one: linear-gradient(45deg,#ffee02,#f30055); 
  --gradient-two: linear-gradient(315deg,#0077ff,#f30055); 
  --gradient-three: linear-gradient(45deg,#74ff03,#00e1ff); 
  --move: 5px;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
        flex-direction: column;
   border-radius: 7px;
    margin: 0;
    background-color: #e6e6e6;
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    background-color: #000;
    box-shadow: 0 0 10px 10px rgba(0, 123, 255, 0.885);
    padding: 2rem;
  }
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: #0077ff;
  }

  #timer {
    font-size: 5rem;
    color: fuchsia;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }
  .button {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    height: 60px;
    width: 130px;
    margin: 1rem;
    border-radius: 7px;

}

.button::before {
    content: '';
    position: absolute;
    border-radius: 7px;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background: var(--gradient-two);
}
.button::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background: var(--gradient-two);
    filter: blur(10px);

}
span {
  height: 58px;
  width: 128px;
  z-index: 1;
  border-radius: 5px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-shadow: 3px 3px 5px #ffffff; */
  background-color: #000;

}

.button:hover {
  transform: translateY(-5px);
}
