body {
    background-color: #f0f0f0;
    margin: 0;
    color: #333;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .logo {
    width: 40px;
    height: 30px;
    filter: invert(1);
  }
  
  button#themeToggle {
    color: #333;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    z-index: 999;
  }
  
  .dark-mode .logo {
    filter: invert(0);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
  }
  
  button#guessButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button#guessButton:hover {
    background-color: #0056b3;
  }
  
  #message {
    margin-top: 20px;
  }
  
  .dark-mode .container {
    background-color: #222;
    color: #fff;
  }
  
  .dark-mode input[type="number"],
  .dark-mode button#guessButton {
    background-color: #444;
    color: #fff;
  }
  
  .dark-mode #message {
    color: #fff;
  }
  
  button#themeToggle:hover {
    color: #333;
  }
  
  .dark-mode button#themeToggle {
    color: #fff;
  }
  